!!!
%html
  %head
    %meta{:name => 'viewport', :content => 'width=320', 'user-scalable' => 'no'}
    %title
      Find Your Half Birthday
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => '/styles/screen.css'}
  %body
    #page
      %p
        %img{:src => '/images/full_cupcake.png'}
      %h1
        When&rsquo;s your birthday?
      %form{:action => '/half', :method => :post}
        %input{:type => :text, :name => :birthday}
      #footer
        %p
          by
          %a{:href => 'http://deraill.com', :title => 'Deraill :: Simple things by a simple boy'}
            Deraill
    %script{:type => 'text/javascript'}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => 'text/javascript'}
      try {
      var pageTracker = _gat._getTracker("UA-12215168-1");
      pageTracker._trackPageview();
      } catch(err) {}