%html
  %head
    %meta{:name => 'viewport', :content => 'width=320', 'user-scalable' => 'no'}
    %title
      Find Your Half Birthday
    %link{:type => 'text/css', :rel => 'stylesheet', :media => 'screen', :href => '/styles/screen.css'}
  %body
    #page
      %p
        %img{:src => '/images/full_cupcake.png'}
      %h1
        When&rsquo;s your birthday?
      %form{:action => '/half', :method => :post}
        %input{:type => :text, :name => :birthday}