/* 
  =RESET
  Reset styles via http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
  Copyright 1995-2007 Eric A. and Kathryn S. Meyer
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
address {
  font-style:normal; /* IE6 doesn't get the picture in the first rule */
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* =TYPOG */

html {
  font-size:100.01%;
}

body {
  background:#D0D4C1;
  color:#393B35;
  font-family:"helvetica neue",helvetica,arial,sans-serif;
  font-size:0.96em; /* IE6 equiv to pixel setting below */
  line-height:1.4;
}

  html>body {
    font-size:18px;
  }

h1 {
  font-size:200%;
  font-weight:bold;
  margin-bottom:0.5em;
}

p {
  font-size:125%;
}

p, form {
  margin-bottom:1.0em;
}

strong {
  font-weight:bold;
}

em {
  font-style:italic;
}

a {
  font-weight:bold;
}

a:link, 
a:visited {
  color:#393B35;
  text-decoration:none;
}

a:hover, 
a:active {
  color:#52544D;
  text-decoration:none;
}

a.buttonish {
  font-weight:bold;
  font-size:80%;
  padding:5px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

a.buttonish:link,
a.buttonish:visited {
  color:#393B35;
  background:#9DA092;
}

a.buttonish:hover {
  color:#D0D4C1;
  background:#52544D;
}

a.buttonish:active {
  color:#D0D4C1;
  background:#393B35;
}

/* 
  =PAGE
*/

#page {
  text-align:center;
  padding:2.0em 0;
  width:480px;
  margin:0 auto;
}

#page #footer p {
  border-top:1px solid #9DA092;
  padding:1.0em 0;
  text-align:center;
  font-size:100%;
}

/* 
  =FORM
*/

form input[type=text] {
  padding:5px;
  font-size:150%;
  width:400px;
  color:#393B35;
}